.mainPage {
    background-color: aquamarine;

    &__cookiesGrid {
        background-color: aqua;
        width: 80%;
        margin: 0% auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media only screen  and (max-width:750px) {
            grid-template-columns: repeat(1, 1fr);
        }

        img {
            width: 100%;
        }

        &--information {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}